<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Themes</h2>
        <hr>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
              <li><b>With Light sidebar</b></li>
              <li><a  #link1 data-theme="default" (click)="changeTheme('default', link1)" href="javascript:void(0)" class="selector default-theme">1</a></li>
              <li><a  #link2 data-theme="green" (click)="changeTheme('green', link2)" href="javascript:void(0)" class="selector green-theme">2</a></li>
              <li><a  #link3 data-theme="red" (click)="changeTheme('red', link3)" href="javascript:void(0)"  class="selector red-theme">3</a></li>
              <li><a  #link4 data-theme="blue" (click)="changeTheme('blue', link4)" href="javascript:void(0)" class="selector blue-theme">4</a></li>
              <li><a  #link5 data-theme="purple" (click)="changeTheme('purple', link5)" href="javascript:void(0)" class="selector purple-theme">5</a></li>
              <li><a  #link6 data-theme="megna" (click)="changeTheme('megna', link6)" href="javascript:void(0)" class="selector megna-theme">6</a></li>
              <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
              <li><a  #link7 data-theme="default-dark" (click)="changeTheme('default-dark', link7)" href="javascript:void(0)" class="selector default-dark-theme">7</a></li>
              <li><a  #link8 data-theme="green-dark" (click)="changeTheme('green-dark', link8)" href="javascript:void(0)" class="selector green-dark-theme">8</a></li>
              <li><a  #link9 data-theme="red-dark" (click)="changeTheme('red-dark', link9)" href="javascript:void(0)" class="selector red-dark-theme">9</a></li>
              <li><a  #link10 data-theme="blue-dark" (click)="changeTheme('blue-dark', link10)" href="javascript:void(0)" class="selector blue-dark-theme">10</a></li>
              <li><a  #link11 data-theme="purple-dark" (click)="changeTheme('purple-dark', link11)" href="javascript:void(0)" class="selector purple-dark-theme">11</a></li>
              <li><a  #link12 data-theme="megna-dark" (click)="changeTheme('megna-dark', link12)" href="javascript:void(0)" class="selector megna-dark-theme ">12</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
